.row-fluid
  .span12
    %h4= t 'manual.laboratory.text'
    = RedCloth.new(@manual_laboratory.text).to_html.html_safe
    %h4= t 'manual.laboratory.goal'
    = RedCloth.new(@manual_laboratory.goal).to_html.html_safe
    %h4= t 'manual.laboratory.description'
    = RedCloth.new(@manual_laboratory.description).to_html.html_safe
    %h4= t 'manual.laboratory.report_content'
    = RedCloth.new(@manual_laboratory.report_content).to_html.html_safe
    
